
<div class="perspective">
    <div class="ani-card" id-story="{{ story.id }}">
        <img src="{{ story.image }}" alt="card-cover" class="ani-card__image">
        <div class="ani-card__scan"></div>
        <div class="ani-card__decription">
            <span class="ani-card__decription--name">{{ story.name }}</span>
            {{#if story.chapter }}
                <span class="ani-card__decription--number-chapter">Chapter: {{ story.chapter }}</span>
                {{else}}
                <span class="ani-card__decription--number-chapter">Chapter: null</span>
            {{/if}}
        </div>
    </div>
</div>
