<div class="edit__your-story">
    <h1 class="edit__your-story--title"><a href="http://localhost:3300/user/your-storys">Truyện của bạn
        <i class="fas fa-book"></i>
    </a> / <a href="http://localhost:3300/user/edit-your-storys/{{story.data._id}}">Chỉnh sửa truyện
        <i class="far fa-edit"></i>
    </a></h1>
    <h1 class="name__story">{{ story.data.name }}</h1>
    <div class="story__pic">
        <div class="story__pic--avatar-story">
            {{#if story.path.avatar}}
                <div class="show__avatar-story">
                    <img src="{{story.path.avatar}}" alt="avatar-story" style="transform: translate3d(-{{story.path.avatarPosition}}px, 0px, 0px);">
                </div>
                {{else}}
                <button class="btn">
                    <i class="fas fa-upload"></i>
                    Upload Image
                </button>
                <input type="file" name="upload--avatar-story" id="" hidden>
                <i class="far fa-trash-alt" hidden></i>
                <div class="render__avatar-story"></div>
            {{/if}}
        </div>
        <div class="story__pic--cover-story">
            {{#if story.path.cover}}
                <div class="show__cover-story">
                    <img src="{{story.path.cover}}" alt="cover-story" style="transform: translate3d(0px, -{{story.path.coverPosition}}px, 0px);">
                </div>
                {{else}}
                <button class="btn">
                    <i class="fas fa-upload"></i>
                    Upload Image
                </button>
                <input type="file" name="pic--cover-story" id="" hidden>
                <i class="far fa-trash-alt" hidden></i>
                <div class="render__avatar-story"></div>
            {{/if}}
        </div>
    </div>
    <div class="story__decription">
        <div class="story__decription--information">
            <h1 class="story__decription--information-title">Information</h1>
            <p class="story__decription--information-chapter">Chapter Present: <span> {{story.data.chapterPresent}} </span></p>
            <p class="story__decription--release">Release Year: <span> {{story.release}} </span></p>
            <p class="story__decription--information-type">
                <span>Type Story:</span>
                {{#each story.type}}
                    <span>{{ this }}</span>
                {{/each}}
            </p>
        </div>
        <div class="story__decription--content">
            <h1 class="story__decription--information-title">Content Story</h1>
            <p class="story__decription--content-box">{{ story.decription }}</p>
        </div>
    </div>
    <div class="submit__update--story" id="update-story">
        <button class="btn">Update Story</button>
    </div>
    <div class="story__add--chapter">
        <h1 class="story__add--chapter-title" id="show-box">Thêm Chapter
            <i class="fas fa-caret-right"></i>
        </h1>
        <div class="story__add--chapter-content-box">
            <h1 class="story__add--chapter-content-box--title">Thông tin truyện</h1>
            <div class="story__add--chapter-content-box--info">
                <div class="form_group">
                    <fieldset class="formRow">
                        <div class="formRow--item">
                            <label for="name-story" class="formRow--input-wrapper js-inputWrapper">
                                <input type="text" class="formRow--input js-input" id="name-story" name="name-story"
                                    placeholder="Tên">
                            </label>
                        </div>
                    </fieldset>
                </div>
                <div class="form_group">
                    <fieldset class="formRow">
                        <div class="formRow--item">
                            <label for="number-chapter" class="formRow--input-wrapper js-inputWrapper">
                                <input type="text" class="formRow--input js-input" id="number-chapter" name="number-chapter"
                                    placeholder="Số chapter" value="{{story.nextChapter}}" readonly>
                            </label>
                        </div>
                    </fieldset>
                </div>
            </div>
            <h1 class="story__add--chapter-content-box--title">Tải lên danh sách ảnh</h1>
            <div class="story__add--chapter-content-box--upload">
                <div class="story__add--chapter-content-box--upload-drag-file">
                    <label for="add-chapter" class="story__add--chapter-content-box--upload-drag-file-area"></label>
                    <input type="file" class="story__add--chapter-content-box--upload-drag-file-input" name="upload-chapter" id="add-chapter" multiple accept=".jpg, .png" hidden>
                    <h1 class="story__add--chapter-content-box--upload-drag-file-title">Kéo file vào đây hoặc chọn tải lên</h1>
                </div>
            </div>
            <div class="add-story__tool">
                <table class="add-story__tool--list-image">
                    <tr class="add-story__tool--list-image--title">
                        <th class="add-story__tool--list-image--title-item">
                            <div class="checkbox" id="element-check-all">
                                <input type="checkbox" name="select-element" hidden>
                            </div>
                            {{!-- <i class="fas fa-sort-up"></i>
                            <i class="fas fa-sort-down"></i> --}}
                        </th>
                        <th class="add-story__tool--list-image--title-item">
                            <span class="add-story__tool--list-image--title-item--text">Tên</span>
                            {{!-- <i class="fas fa-sort-up"></i>
                            <i class="fas fa-sort-down"></i> --}}
                        </th>
                        <th class="add-story__tool--list-image--title-item">
                            <span class="add-story__tool--list-image--title-item--text">kích thước</span>
                            {{!-- <i class="fas fa-sort-up"></i>
                            <i class="fas fa-sort-down"></i> --}}
                        </th>
                        <th class="add-story__tool--list-image--title-item" tool="sort">
                            <span class="add-story__tool--list-image--title-item--text">
                                <button class="btn" id="sort-position">Sắp xếp</button>
                            </span>
                            {{!-- <i class="fas fa-sort-up"></i>
                            <i class="fas fa-sort-down"></i> --}}
                        </th>
                        <th class="add-story__tool--list-image--title-item" tool="sort">
                            <span class="add-story__tool--list-image--title-item--text">Hành động</span>
                            {{!-- <i class="fas fa-sort-up"></i>
                            <i class="fas fa-sort-down"></i> --}}
                        </th>
                    </tr>
                </table>
                <div class="add-story__tool--show-image"></div>
            </div>
        </div>
    </div>
    <div class="submit__update--story" id="update-chapter">
        <button class="btn">Update Chapter</button>
    </div>
</div>