<div class="your-post">
    <h1 class="your-post__title"><a href="/user/your-storys">Truyện của bạn
        <i class="fas fa-book"></i>
    </a> / </h1>
    <div class="your-post__list">
        <a href="/user/add-your-storys" class="your-post__list--table-row--add-story--link btn">Tạo truyện mới
            <i class="fas fa-plus"></i>
        </a>
        <div class="your-post__list--tool">
            <h1 class="your-post__list--tool-title">Tool:</h1>
            <div class="select">
                <input type="text" name="select-value" hidden>
                <span class="select__title" content="--- Tuỳ chọn ---">--- Tuỳ chọn ---</span>
                <ul class="select-list" hidden>
                    <li class="select-list__item" value="noSetValue" content="noSetValue">Bỏ chọn!</li>
                    <li class="select-list__item" value="remove-all" content="Xoá tất cả">Xoá tất cả</li>
                </ul>
            </div>
            <button class="btn your-post__list--tool-click">Triển</button>
        </div>
        <table class="your-post__list--table">
            <tr class="your-post__list--table-row--title">
                <th class="your-post__list--table-row--title-name">
                    <div class="checkbox" id="element-check-all">
                        <input type="checkbox" name="select-element" hidden>
                    </div>
                </th>
                <th class="your-post__list--table-row--title-name">STT
                    <i class="fas fa-indent"></i>
                </th>
                <th class="your-post__list--table-row--title-name">Tên
                    <i class="fas fa-signature"></i>
                </th>
                <th class="your-post__list--table-row--title-name">Thời gian tạo
                    <i class="far fa-clock"></i>
                </th>
                <th class="your-post__list--table-row--title-name">Tổng số chapter
                    <i class="fas fa-book"></i>
                </th>
                <th class="your-post__list--table-row--title-name">Thể Loại 
                    <i class="fas fa-filter"></i>
                </th>
                <th class="your-post__list--table-row--title-name">Xoá
                    <i class="fas fa-exclamation-triangle"></i>
                </th>
                <th class="your-post__list--table-row--title-name">Sửa
                    <i class="fas fa-edit"></i>
                </th>
            </tr>
            {{#each listStory}}
                <tr class="your-post__list--table-row--content" id_story="{{ this._id }}">    
                    <td class="your-post__list--table-row--content-show">
                        <div class="checkbox element-check">
                            <input type="checkbox" name="select-element" hidden>
                        </div>
                    </td>
                    <td class="your-post__list--table-row--content-show" id="index-story">{{ @index }}</td>
                    <td class="your-post__list--table-row--content-show">{{ this.name }}</td>
                    <td class="your-post__list--table-row--content-show">{{ this.dateCreate }}</td>
                    <td class="your-post__list--table-row--content-show">{{ this.chapterPresent }}</td>
                    <td class="your-post__list--table-row--content-show">{{ this.type }}</td>
                    <td class="your-post__list--table-row--content-show">
                        <button class="btn a-warning" id="remove-story">Xoá Truyện</button>
                    </td>
                    <td class="your-post__list--table-row--content-show">
                        <button class="btn a-normal" id="edit-story">Chỉnh sửa</button>
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
</div>