<section class="chapter-item">
    {{!--  --}}
    <div class="chapter-item-single">
        <h1 class="chapter-item-single__title">
            <a href="/">Trang chủ
                <i class="fas fa-home"></i>
            </a>
            /
            <a href="/story/{{ story.id }}">{{ story.name }}
                <i class="fas fa-book-open"></i>
            </a>
            /
            <a href="/story/{{ story.id }}/chapter-{{ story.chapter.number }}">{{ story.chapter.name }}
                <i class="fas fa-indent"></i>
            </a>
            /
        </h1>
        {{!--  --}}
        <div class="chapter-item-single__content">
            {{#each story.listImage}}
                <img src="{{ this.path }}" alt="{{ story.chapter.name }}-{{ @index }}">
            {{/each}}
        </div>
        {{!--  --}}
    </div>
    {{!--  --}}
    <div class="chapter-item-inspire">
        {{!-- <span>text</span> --}}
    </div>
    {{!--  --}}
</section>
