<div class="profile">
    <div class="profile-wrap">
        <div class="profile-wrap-col-left">
            <div class="avatar">
                {{#if info.avatarPath}}
                    <div class="avatar__box--img">
                        <img src="{{INFO_USER.avatarPath}}" alt="Ảnh đại diện!">
                    </div>
                    {{else}}
                    <div class="avatar__box--img">
                        <img src="{{getAvatarDefault info.gender}}" alt="Ảnh đại diện!">
                    </div>
                {{/if}}
                <span id_user="{{INFO_USER._id}}" class="avatar__name--user">{{INFO_USER.accountName}}</span>
                <div class="avatar__upgrade">
                    <div class="avatar__upgrade--load-file">
                        <div class="avatar__upgrade--load-file-wrap">
                            <label for="load-file-avatar">Tải ảnh</label>
                            <input type="file" name="avatar" id="load-file-avatar">
                        </div>
                    </div>
                </div>
                <div class="avatar__box--img" id="image-view-loading"></div>
            </div>
            <ul class="view__options">
                <li class="view__options--item"><a href="/user/info" class="view__options--item-link">Thông tin cá nhân</a></li>
                <li class="view__options--item"><a href="" class="view__options--item-link">Bình luận của bạn</a></li>
                <li class="view__options--item"><a href="/user/your-storys" class="view__options--item-link">Truyện bạn đã đăng</a></li>
                <li class="view__options--item"><a href="" class="view__options--item-link">Tin nhắn</a></li>
                <li class="view__options--item"><a href="/user/change-password" class="view__options--item-link">Đổi mật khẩu</a></li>
            </ul>
        </div>
        <div class="profile-wrap-col-right">
            {{#if INFO_ACCOUNT}}
                {{> Components/ComponentProfile/info}}
            {{/if}}
            {{#if CHANGE_PASSWORD}}
                {{> Components/ComponentProfile/changePassword}}
            {{/if}}
            {{#if YOUR_STORYS}}
                {{> Components/ComponentProfile/yourStorys}}
            {{/if}}
            {{#if ADD_YOUR_STORYS}}
                {{> Components/ComponentProfile/addYourStorys}}
            {{/if}}
            {{#if EDIT_YOUR_STORYS}}
                {{> Components/ComponentProfile/editYourStory}}
            {{/if}}
        </div>
    </div>
</div>